<h3>Favourite sports to watch</h3>

<!--FETCH QUERY-->
<h4>View different stats</h4>
<p>Sports sorted according to decreasing order of watch time hours</p>
<button value="Get watchtime" (click)="watchhrs()" >Watch times</button>


<p>Get the count of a given sport </p>
<form #get="ngForm">
  <div class="form-group">
    <label for="name">Sport name</label>
    <input type="text" name="name" id="name" ngModel>
  </div>

  <button (click)="total(get)" >Count of sport</button>
</form>

<!--POST -->
<h4>Insert a new sport</h4>
<form #insert="ngForm" (ngSubmit)="add(insert)">
  <div class="form-group">
    <label for="name">Name of the sport</label>
    <input type="text" id="name" name="name" ngModel>
  </div>
 
  <div class="form-group">
    <label for="tournament">Name of the tournament</label>
    <input type="text" id="tournament" name="tournament" ngModel>
  </div>

  <div class="form-group">
    <label for="hrs">Hours watched this week</label>
    <input type="text" id="hrs" name="hrs" ngModel>
  </div>
 
  <button type="submit" >Add sport detail</button>
</form>

<!--PATCH QUERY-->
<b>Update a tournament name</b>
<form #set="ngForm" (ngSubmit)="update(set)">
  <div clas="form-group">
    <label for="name">Enter the name of the sport</label>
    <input type="text" name="name" id="name" ngModel>
  </div>
  <div clas="form-group">
    <label for="tournament">Enter the new tournament name</label>
    <input type="text" name="tournament" id="tournament" ngModel>
  </div>

  <button type="submit" >Update</button>
</form>

<!--DELETE QUERY-->
<b>Delete a sport detail</b>
<form #remove="ngForm" (ngSubmit)="delete(remove)">
  <div clas="form-group">
    <label for="tournament">Enter the  tournament name</label>
    <input type="text" name="tournament" id="tournament" ngModel>
  </div>

  <button type="submit">Delete</button>
</form>


